@import url("https://fonts.googleapis.com/css2?family=Truculenta:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Truculenta", sans-serif;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar-brand {
    padding-left: 30px;
}

.container-fluid {
    padding: 0 !important;
}

// 開頭頁
#card {
    padding-top: 80px;
    margin-left: 180px auto 10px;
    padding-left: 50px 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 250px auto;
    color: white;
    background-image: url(./photo/3people.JPG);
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 150px -155px;
}
// 導覽頁
span {
    font-size: 22px;
    background: #8d8d8d;
    padding: 5px 8px;
    border-radius: 5px;
    vertical-align: 8px;
    color: #9fa8a88c;
}
// 開頭頁
#content {
    padding: 50px 80px;
    margin-bottom: -20px;
    margin-left: 900px;

    h1 {
        padding-left: 130px;
        padding-top: 50px;
        font-size: 120px;
        color: white;
        border: rgb(0, 0, 0);
        text-shadow: 3px 2px 5px rgb(68, 66, 66);
        cursor: pointer;
        overflow: hidden;

        transition: 0.8s;
        &:hover {
            transform: scale(1.3);
            color: slategrey;
        }
    }
}

// 介紹頁

#top {
    margin-top: 50px;
    margin-bottom: 100px;

    h1 {
        text-align: center;
        overflow: hidden;
    }
    h3 {
        text-align: center;
        overflow: hidden;
    }
}

#about {
    margin-left: 265px;
    display: grid;
    grid-template-columns: 40% 60%;

    img {
        width: 800px;
        height: 500px;
    }

    #word {
        padding-top: 100px;
        padding-left: 100px;

        #p-1 {
            font-size: 20px;
            overflow: hidden;
        }

        #p-2 {
            font-size: 20px;
            overflow: hidden;
        }

        h2 {
            padding-top: 50px;
            overflow: hidden;
        }

        #p-3 {
            font-size: 25px;
            overflow: hidden;
        }

        hr {
            width: 300px;
        }
    }
}

// MAP

#map {

    padding-left:650px ;

        h3 {
            text-align: center;
            text-shadow: 3px 2px 3px rgb(109, 109, 109);
            padding-top: 100px;
            padding-bottom: 50px;
            overflow: hidden;
        }

        img {
            width: 700px;
            height: 700px;
        }

        footer {
           text-align: center;
           padding-top: 50px;
           position: fixed;
           bottom: 0;
        }
    
}
