@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Truculenta:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Truculenta", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  padding: 0 !important;
  overflow: hidden;
}

:root {
  --bg-color: #d8d8d8;
}

body {
  width: 100%;
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#open {
  position: absolute;
  z-index: 3;
  /*   定義彈性項目 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*   將彈性項目對準容器的中央： */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #000;
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  height: 100vh;
}

#open h1 {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 5px;
}

/* title styles */
#home span {
  position: relative;
  overflow: hidden;
  /*   將元素顯示為塊元素（如<p>）。它從新的一行開始，並佔據整個寬度 */
  display: block;
  line-height: 1.5;
  text-align: center;
}

#home span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  /*  77%~18%會噴很快的意思  */
  /*  https://cubic-bezier.com/#.81,0,.29,1.01  */
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

#home span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  -webkit-animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#home span:nth-of-type(1)::before,
#home span:nth-of-type(1)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#home span:nth-of-type(2)::before,
#home span:nth-of-type(2)::after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes show {
  0% {
    z-index: 3;
  }
  100% {
    z-index: 4;
  }
}

@keyframes show {
  0% {
    z-index: 3;
  }
  100% {
    z-index: 4;
  }
}

.navbar-brand {
  padding-left: 30px;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-animation: show 1s forwards;
          animation: show 1s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes showpic {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 3;
  }
}

@keyframes showpic {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 3;
  }
}

#banner {
  background-image: url(./photo/aqua.png);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-animation: showpic 1s forwards;
          animation: showpic 1s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#banner #intro {
  padding: 400px 500px;
  color: azure;
  text-shadow: 10px 10px 5px rgba(56, 10, 10, 0.753);
  overflow: hidden;
}

#banner #intro h1 {
  font-size: 86px;
  letter-spacing: 10px;
}

#banner #intro h2 {
  font-size: 20px;
  letter-spacing: 5px;
}

#prom {
  padding-top: 100px;
  -webkit-animation: showpic 1s forwards;
          animation: showpic 1s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#prom #words hr {
  width: 400px;
  margin: 0 auto;
}

#prom #words h1 {
  text-align: center;
  color: #4b1e26;
  text-shadow: 3px 2px 3px rgba(68, 68, 68, 0.562);
  letter-spacing: 5px;
}

#prom #abox {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  position: relative;
}

#prom #abox img {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 330px;
}

#prom #abox .box {
  width: 300px;
  height: 400px;
  background-color: rgba(5, 51, 104, 0.603);
  margin-left: 150px;
}

#prom #abox #inside1 {
  padding-top: 100px;
  padding-left: 50px;
  text-align: left;
}

#prom #abox #inside1 h1 {
  text-shadow: 3px 2px 3px rgba(5, 51, 104, 0.603);
}

#prom #abox #inside1 .p {
  font-size: 20px;
  padding-bottom: 50px;
  text-shadow: 3px 2px 3px rgba(5, 51, 104, 0.603);
}

#prom #abox #inside1 .q h3 {
  padding-bottom: 8px;
  text-shadow: 3px 2px 3px rgba(5, 51, 104, 0.603);
}

#prom #abox #inside1 .q .pp {
  color: dimgrey;
  text-shadow: 3px 2px 2px rgba(5, 51, 104, 0.603);
}

#bbox {
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  position: relative;
}

#bbox img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 250px;
}

#bbox .box {
  width: 300px;
  height: 400px;
  background-color: rgba(104, 5, 5, 0.603);
  margin-left: 150px;
}

#bbox #inside2 {
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
}

#bbox #inside2 h1 {
  text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
}

#bbox #inside2 .p {
  font-size: 20px;
  padding-bottom: 30px;
  text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
}

#bbox #inside2 .q h3 {
  padding-bottom: 5px;
  text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
}

#bbox #inside2 .q h5 {
  font-size: 20px;
  text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
  padding-top: 10px;
}

#bbox #inside2 .q .pp {
  color: dimgrey;
  text-shadow: 1px 2px 2px rgba(104, 5, 5, 0.603);
  padding-top: 5px;
}

footer {
  text-align: center;
  bottom: 0;
  padding-top: 100px;
}

@media screen and (max-width: 1024px) {
  #banner {
    background-image: url(./photo/aqua.png);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-animation: showpic 1s forwards;
            animation: showpic 1s forwards;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  #banner #intro {
    padding: 400px 500px;
    color: azure;
    text-shadow: 10px 10px 5px rgba(56, 10, 10, 0.753);
    overflow: hidden;
  }
  #banner #intro h1 {
    font-size: 86px;
    letter-spacing: 10px;
  }
  #banner #intro h2 {
    font-size: 20px;
    letter-spacing: 5px;
  }
  #prom {
    padding-top: 100px;
    -webkit-animation: showpic 1s forwards;
            animation: showpic 1s forwards;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  #prom #words hr {
    width: 400px;
    margin: 0 auto;
  }
  #prom #words h1 {
    text-align: center;
    color: #4b1e26;
    text-shadow: 3px 2px 3px rgba(68, 68, 68, 0.562);
    letter-spacing: 5px;
  }
  #prom #abox {
    padding-top: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    position: relative;
  }
  #prom #abox img {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 330px;
  }
  #prom #abox .box {
    width: 300px;
    height: 400px;
    background-color: rgba(5, 51, 104, 0.603);
    margin-left: 150px;
    cursor: pointer;
    -webkit-transition: 1.3s;
    transition: 1.3s;
  }
  #prom #abox .box:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #prom #abox #inside1 {
    padding-top: 100px;
    padding-left: 50px;
    text-align: left;
  }
  #prom #abox #inside1 h1 {
    text-shadow: 3px 2px 3px rgba(5, 51, 104, 0.603);
  }
  #prom #abox #inside1 .p {
    font-size: 20px;
    padding-bottom: 50px;
    text-shadow: 3px 2px 3px rgba(5, 51, 104, 0.603);
  }
  #prom #abox #inside1 .q h3 {
    padding-bottom: 8px;
    text-shadow: 3px 2px 3px rgba(5, 51, 104, 0.603);
  }
  #prom #abox #inside1 .q .pp {
    color: dimgrey;
    text-shadow: 3px 2px 2px rgba(5, 51, 104, 0.603);
  }
  #bbox {
    padding-top: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    position: relative;
  }
  #bbox img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 250px;
  }
  #bbox .box {
    width: 300px;
    height: 400px;
    background-color: rgba(104, 5, 5, 0.603);
    margin-left: 150px;
  }
  #bbox #inside2 {
    padding-top: 50px;
    padding-left: 50px;
    text-align: left;
  }
  #bbox #inside2 h1 {
    text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
  }
  #bbox #inside2 .p {
    font-size: 20px;
    padding-bottom: 30px;
    text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
  }
  #bbox #inside2 .q h3 {
    padding-bottom: 5px;
    text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
  }
  #bbox #inside2 .q h5 {
    font-size: 20px;
    text-shadow: 3px 2px 3px rgba(104, 5, 5, 0.603);
    padding-top: 10px;
  }
  #bbox #inside2 .q .pp {
    color: dimgrey;
    text-shadow: 1px 2px 2px rgba(104, 5, 5, 0.603);
    padding-top: 5px;
  }
  footer {
    text-align: center;
    bottom: 0;
    padding-top: 100px;
  }
}
/*# sourceMappingURL=enter.css.map */