* {
    padding: 0;
    margin: 0;
}

#nav {
}

#banner {
    background-image: url(./photo/bg.jpg);
    width: 1280px;
    height: 100vh;
    object-fit: cover;

    .pic {
        display: grid;
        grid-template-columns: 40% 60%;
        img {
            width: 800px;
            height: 100vh;
            display: inline;
            margin-left: -50px;
        }

        #intro {
           padding: 300px 300px ;
           color: azure;

           p {
               font-size: 18px;
           }
        }
    }
}
