@import url("https://fonts.googleapis.com/css2?family=Truculenta:wght@500&display=swap");

$desktop: 1025px;
$tablet: 1024px;
$moblie: 767px;

* {
    padding: 0;
    margin: 0;
    font-family: "Truculenta", sans-serif;
}

.container-fluid {
    padding: 0 !important;
  }

// OPEN頁面

:root {
    --bg-color: #d8d8d8;
}

body {
    position: relative;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#open {
    position: absolute;
    z-index: 3;
    /*   定義彈性項目 */
    display: flex;
    align-items: center;
    /*   將彈性項目對準容器的中央： */
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 5px;
}

/* title styles */
#home span {
    position: relative;
    overflow: hidden;
    /*   將元素顯示為塊元素（如<p>）。它從新的一行開始，並佔據整個寬度 */
    display: block;
    line-height: 1.5;
    text-align: center;
}

#home span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    /*  77%~18%會噴很快的意思  */
    /*  https://cubic-bezier.com/#.81,0,.29,1.01  */
    transform: translateX(-101%);
}

#home span::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    transform: translateX(0);
}

#home span:nth-of-type(1)::before,
#home span:nth-of-type(1)::after {
    animation-delay: 1s;
}

#home span:nth-of-type(2)::before,
#home span:nth-of-type(2)::after {
    animation-delay: 1.5s;
}

@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(101%);
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
    }
}

// 導覽列

@keyframes show {
    0% {
        z-index: 3;
    }
    100% {
        z-index: 4;
    }
}

.navbar-brand {
    padding-left: 30px;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 2;

    animation: show 1s forwards;
    animation-delay: 4s;
}

@keyframes showpic {
    0% {
        z-index: 2;
    }
    100% {
        z-index: 3;
    }
}

#banner {
    background-image: url(./photo/bg.png);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

    .pic {
        display: grid;
        grid-template-columns: 30% 70%;

        img {
            display: inline;
            margin-left: 200px;
            width: 100%;
            height: 100vh;
        }

        #intro {
            padding: 400px 500px;
            color: azure;
            text-shadow: 10px 10px 5px rgba(56, 10, 10, 0.753);

            h1 {
                font-size: 86px;
                letter-spacing: 10px;
            }

            h2 {
                font-size: 20px;
                letter-spacing: 5px;
            }
        }
    }
}

#prom {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 100px;

    #prom-big {
        margin-left: 150px;

        display: block;
        background-image: url(./photo/prom.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;

        h1 {
            font-size: 100px;
            writing-mode: vertical-lr;
            padding-top: 100px;
            margin-left: 25px;

            color: #444c59;
            text-shadow: 5px 10px 5px (gray);
        }
    }

    #box {
        display: grid;
        margin: 100px 50px 0 auto;
        grid-template-rows: 50% 50%;
        margin-top: 150px;
        margin-left: 80px;
        margin-right: 80px;

        animation: showpic 1s forwards;
        animation-delay: 4s;

        .cover1 {
            position: absolute;
            right: 95px;

            &:hover img {
                position: relative;
                right: 670px;
            }

            img {
                width: 670px;
                height: 340px;
                z-index: 2;
                right: 0;
                transition: 1.5s;
            }
        }

        .cover2 {
            position: absolute;

            &:hover img {
                position: relative;
                left: 670px;
            }
            img {
                width: 670px;
                height: 340px;
                z-index: 2;
                left: 0;
                transition: 1.5s;
            }
        }

        #box1 {
            display: grid;
            grid-template-columns: 50% 50%;
            padding-bottom: 250px;
        }

        #box2 {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        #text1,
        #text2 {
            text-align: center;

            h1 {
                text-shadow: 5px 3px 1px (rgba(128, 128, 128, 0.514));
                grid-gap: 3px;
            }

            h3 {
                font-weight: 900;
                letter-spacing: 5px;
            }
            h5 {
                font-weight: 800;
                letter-spacing: 5px;
            }

            .pp {
                letter-spacing: 3px;
            }
        }

        #p1,
        #p2 {
            text-align: center;
            padding-top: 70px;
            letter-spacing: 3px;

            text-shadow: 3px 5px 5px rgba(129, 47, 47, 0.664);
        }
    }
}

footer {
    p {
        text-align: center;
    }
}

// 平板

@media screen and (max-width: 1024px) {
    #open {
        width: 100%;
        height: 100vh;
    }
    #banner {
        background-image: url(./photo/bg.png);
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;

        .pic {
            display: grid;
            grid-template-columns: 40% 60%;

            img {
                display: inline;
                margin-left: 80px;
                width: 100%;
                height: 100vh;
            }

            #intro {
                padding: 570px 80px;
                color: azure;
                text-shadow: 10px 10px 5px rgba(56, 10, 10, 0.753);

                h1 {
                    font-size: 80px;
                    letter-spacing: 10px;
                }

                h2 {
                    font-size: 15px;
                    letter-spacing: 5px;
                }
            }
        }
    }

    #prom {
        display: grid;
        grid-template-columns: 10% 80%;
        margin-bottom: 100px;
        overflow: hidden;

        #prom-big {
            margin-left: 50px;

            display: block;
            background-image: url(./photo/prom.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;

            h1 {
                font-size: 100px;
                writing-mode: vertical-lr;
                padding-top: 100px;
                margin-left: 25px;

                color: #444c59;
                text-shadow: 5px 10px 5px (gray);
            }
        }

        #box {
            display: grid;
            margin: 0;
            grid-template-rows: 50% 50%;
            margin-top: 150px;
            margin-left: 80px;
            margin-right: 80px;
            position: absolute;

            animation: none;
            animation-delay: none;

            .cover1 {
                position: relative;
                right: 0px;
                top: none;
                left: 230px;
                bottom: 100px;

                &:hover img {
                    position: none;
                    right: 0px;
                }

                img {
                    width: 480px;
                    height: 250px;
                    z-index: 2;
                    right: 0;
                    transition: 1.5s;
                }
            }

            .cover2 {
                position: relative;
                right: 0px;
                top: 300px;
                left: 230px;
                bottom: none;

                &:hover img {
                    position: none;
                    right: 0px;
                }

                img {
                    width: 480px;
                    height: 250px;
                    z-index: 2;
                    right: 0;
                    transition: 1.5s;
                }
            }

            #box1 {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: none;
                padding-bottom: 250px;
            }

            #box2 {
                grid-template-columns: none;
                grid-template-rows: 50% 50%;
            }

            #text1 {
                text-align: center;
                padding-left: 300px;
                padding-top: none;

                h1 {
                    text-shadow: 5px 3px 1px (rgba(128, 128, 128, 0.514));
                    grid-gap: 3px;
                }

                h3 {
                    font-weight: 900;
                    letter-spacing: 5px;
                }
                h5 {
                    font-weight: 800;
                    letter-spacing: 5px;
                }

                .pp {
                    letter-spacing: 3px;
                }
            }

            #p1 {
                text-align: center;
                padding-left: 250px;
                letter-spacing: 3px;

                text-shadow: 3px 5px 5px rgba(129, 47, 47, 0.664);
            }

            #text2 {
                text-align: center;
                padding-left: 300px;
                padding-top: 400px;
            }

            #p2 {
                text-align: center;
                padding-top: 100px;
                padding-bottom: 100px;
                padding-left: 300px;
                letter-spacing: 3px;

                text-shadow: 3px 5px 5px rgba(129, 47, 47, 0.664);
            }
        }
    }

    footer {
        padding-top: 1800px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #open {
        width: 100%;
        height: 100vh;
    }
    #banner {
        background-image: url(./photo/bg.png);
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;

        .pic {
            display: block;
            grid-template-columns: 40% 60%;

            img {
                display: none;
                margin-left: 80px;
                width: 100%;
                height: 100vh;
            }

            #intro {
                padding: 200px 10px;
                color: azure;
                text-shadow: 10px 10px 5px rgba(56, 10, 10, 0.753);

                h1 {
                    font-size: 80px;
                    letter-spacing: 10px;
                }

                h2 {
                    font-size: 15px;
                    letter-spacing: 5px;
                }
            }
        }
    }

    #prom {
        display: grid;
        grid-template-columns: 10% 80%;
        margin-bottom: 100px;
        overflow: hidden;

        #prom-big {
            margin-left: 10px;

            display: none;
            background-image: url(./photo/prom.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;

            h1 {
                font-size: 30px;
                writing-mode: vertical-lr;
                padding-top: 50px;
                margin-left: 25px;

                color: #444c59;
                text-shadow: 3px 10px 5px (gray);
            }
        }

        #box {
            display: grid;
            margin: 0;
            grid-template-rows: 50% 50%;
            margin-top: 150px;
            margin-left: 5px;
            margin-right: 5px;
            position: absolute;

            animation: none;
            animation-delay: none;

            .cover1 {
                position: relative;
                right: 0px;
                top: none;
                left: 25px;
                height: 300px;

                &:hover img {
                    position: none;
                    right: 0px;
                }

                img {
                    width: 300px;
                    height: 200px;
                    z-index: 2;
                    right: 0;
                    transition: 1.5s;
                }
            }

            .cover2 {
                position: relative;
                right: 0px;
                top: 100px;
                left: 25px;
                bottom: none;
                height: 200px;

                &:hover img {
                    position: none;
                    right: 0px;
                }

                img {
                    width: 300px;
                    height: 200px;
                    z-index: 2;
                    right: 0;
                    transition: 1.5s;
                }
            }

            #box1 {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: none;
                padding-bottom: 250px;
            }

            #box2 {
                grid-template-columns: none;
                grid-template-rows: 50% 50%;
            }

            #text1,
            #text2 {
                text-align: center;
                padding-left: 5px;
                padding-top: 0px;

                h1 {
                    text-shadow: 5px 3px 1px (rgba(128, 128, 128, 0.514));
                    grid-gap: 3px;
                    font-size: 21px;
                }

                h3 {
                    font-weight: 900;
                    letter-spacing: 5px;
                    font-size: 16px;
                }
                h5 {
                    font-weight: 800;
                    letter-spacing: 5px;
                    font-size: 12px;
                }

                .pp {
                    letter-spacing: 3px;
                    font-size: 8px;
                }
            }

            #p1 {
                text-align: center;
                padding-top: 100px;
                padding-bottom: 150px;
                padding-left: 5px;
                letter-spacing: 3px;

                text-shadow: 3px 5px 5px rgba(129, 47, 47, 0.664);
            }

            #text2 {
                text-align: center;
                padding-left: 5px;
                padding-top: 200px;
            }

            #p2 {
                text-align: center;
                padding-top: 0px;
                padding-bottom: 100px;
                padding-left: 5px;
                letter-spacing: 3px;

                text-shadow: 3px 5px 5px rgba(129, 47, 47, 0.664);
            }
        }
    }

    footer {
        padding-top: 2300px;
        text-align: center;
    }

    hr {
        width: 330px;
    }
}
