$tablet: 1024px;
$moblie: 767px;

#nav {
}

#banner {
    background-image: url(./photo/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

    .pic {
        display: grid;
        grid-template-columns: 30% 70%;
        img {
            display: inline;
            margin-left: 200px;
            width: 100%;
            height: 100vh;
        }

        #intro {
            padding: 400px 500px;
            color: azure;
            text-shadow: 10px 10px 5px rgba(56, 10, 10, 0.753);

            h1 {
                font-size: 86px;
                letter-spacing: 10px;
            }

            h2 {
                font-size: 20px;
                letter-spacing: 5px;
            }
        }
    }
}

#prom {
    display: grid;
    grid-template-columns: 20% 80%;

    #prom-big {
        margin-left: 100px;

        display: block;
        background-image: url(./photo/prom.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;

        h1 {
            font-size: 72px;
            writing-mode: vertical-lr;
            padding-top: 50px;

            color: #444c59;
            text-shadow: 5px 10px 5px (gray);
        }
    }

    #box {
        display: grid;
        margin: 100px 50px 0 auto;
        grid-template-rows: 50% 50%;
        margin-top: 150px;
        margin-left: 80px;
        margin-right: 80px;

        .cover1 {
            position: absolute;
            right: 95px;
            img {
                width: 670px;
                height: 340px;
                transition:all 1.5s 2s;

                &:hover {
                    position: relative;
                    right: 670px;
                }
            }
        }

        .cover2 {
            position: absolute;
            img {
                width: 670px;
                height: 340px;
                transition:all 1.5s 2s;

                &:hover {
                    position: relative;
                    left: 670px;
                }
            }
        }

        #box1 {
            display: grid;
            grid-template-columns: 50% 50%;
            padding-bottom: 250px;
        }

        #box2 {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .text {
            text-align: center;

            h1 {
                text-shadow: 5px 3px 3px (gray);
            }

            h3 {
                font-weight: 900;
            }
            h5 {
                font-weight: 800;
            }
        }

        .p {
            text-align: center;
            padding-top: 50px;

            text-shadow: 3px 5px 5px rgba(129, 47, 47, 0.664);
        }
    }
}
